body{
  background-image: url('../src/assets/subtle-prism.svg');
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}


#root{
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

.nav-main{
  position: fixed;
  width: 100%;
  padding: 0;
  top: 0px;
  left: 0;
  margin: 0 auto;
  z-index: 1000;
}

#navbarcont.navbar-container{
  width: 100%;
  display: contents;
  
}


.navbar{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: hwb(271 17% 11% / 0.511);
  height: 3.5rem;
}

.navbar-left{
  display: flex;
}

.navbar-left ul li ,
.navbar-right ul li {
  text-decoration: none;
  color: aliceblue;
  margin-inline: 12px;
  padding: 0px;
  /* height: 3.5rem; */
  align-items: center;
}
.navbar-left ul li :hover,
.navbar-right ul li :hover{
  color:azure;
  cursor: pointer;
}

.menu{
  display: none;
}

.navbar-left ul,
.navbar-right ul{
  list-style: none;
  padding:0px;
  margin: 8px;
  display: flex;
  font-family: 'Play', sans-serif;
  font-size: 1.6rem;
}
.navbar-left ul{
  margin-right: 50px;
}

.navbar-left ul:hover{
  cursor: pointer;
}

.navbar-right{
  margin-right: 50px;
}

.navbar-right ul:hover{
  cursor: pointer;
}

.getInTouch{
  font-weight: bold;
}

.list-name{
  font-weight: bold;
}

.big-header{
  display: block;
  color: aliceblue;
  width: 100%;
}

/* .profile-container{
  display: flex;
  flex-direction: column;
  height: 676px;
} */

.workProfile{
  display: flex;
  height: auto;
  font-size: 26px;
  font-weight: 400;
  align-items: center;
  margin: 0 auto;
}

.work-profile-p{
  width: 420px;
}

.name {
  margin: 26px 26px auto;
  text-align: end;
  width: 620px;
}

.hi-im{
  font-size: 60px;
  margin: 0;
}

.santiago{
  display: block;
  font-size: 140px;
  
  font-weight: 700;
  line-height: 190px;
  margin: auto 0 auto auto;

  width: 580px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(8), blink .5s infinite step-end alternate;
}

@keyframes typing{
  from {width: 0;}
}

@keyframes blink{
  50% {border-color: transparent;}
}

.cocca{
  display: block;
  border-right: 4px solid;
  font-size: 140px;
  font-weight: 700;
  line-height: 120px;
  margin: auto 0 auto auto;
  width: 376px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(4), blink .7s infinite step-end alternate;

}


.Web-developer{
  font-size: 60px;
  margin: 33px 0 auto;
}


.profile-container{
  width: 530px;
  margin-top: 20px;
}

.profile{
  width:450px;
  font-size: 25px;
  margin-top: 28px;
  padding-left: 36px;
}

.personal-list{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.personal-profile{
  display: flex;
  justify-content: center;
  align-items: self-end;
  margin: auto;
  font-size: 26px;
  font-weight: 400;
}

.about-me{
  margin-top: 50px;
  margin-bottom: 0px;
  font-size: 60px;
  line-height: 40px;
}

section{
  display: flex;
  width: 600px;
  height: 430px;
  margin-inline: 24px;
  margin-bottom: 30px;
  border-radius: 20px;
}

section img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

section img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.personal-list{
  font-size: 30px;
  font-weight: 400;
  margin-right: 40px;
}

.personal{
  font-size: 24px;
  list-style:outside;
}

.experience-text {
  font-size: 38px;
  font-weight: 700;
  margin: 0 auto 12px 12px;
  text-align: start;
  width: 100%;
  color: aliceblue;
}

.graphics-container {
  display: flex;
  flex-direction: column;
  width: 33%;
}

.we-bg{
  background-image: url('../src/assets/blur.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-cont {
  display: flex;
  position: absolute;
  left: 10%;
  top: 15%;
  animation: movement 3.5s ease-in-out infinite;
}

@keyframes movement{
  0% {left:10%;
        top:13%}
  25% {left:13%;
       top:17%}
  50% {left:7%;
        top:22%}
  75%{ left:2%;
        top:17%}
  100%{left:10%;
        top:13%;}
}

.circle-cont-1 {
  display: flex;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: scale(0.7);
  animation: movement1 2.8s ease-in-out infinite;
}

@keyframes movement1{
  0% {left:50%;
        top:40%}
  25% {left:43%;
       top:47%}
  50% {left:48%;
        top:52%}
  75%{ left:51%;
        top:47%}
  100%{left:50%;
        top:40%;}
}


.circle-cont-2 {
  display: flex;
  position: absolute;
  left: 15%;
  top: 70%;
  transform: scale(0.4);
  animation: movement2 2s ease-in-out infinite;
}

@keyframes movement2{
  0% {left:15%;
        top:70%}
  25% {left:20%;
       top:75%}
  50% {left:15%;
        top:80%}
  75%{ left:10%;
        top:75%}
  100%{left:15%;
        top:70%;}
}


.circle-inner{
  background-image: url('../src/assets/bigCircle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 126px;
  height: 126px;
}

.workContainer{
  display: flex;
  height: auto;
  width: auto;
  margin: 76px auto 200px 50px;
  justify-content: center;
}

.left{
  display: flex;
}

.right{
  display: flex;
  width: 70%;
  height: 80vh;
  flex-direction: column;
  color: azure;
}

.r{
  position: relative;
}

.jobs-container{
    display: flex;
    align-items: baseline;
    margin: 0 12px 0 auto;
    height: 34px;
}

.job-name-h2{
  margin: 0 12px 0 0;
  font-size: 28px;
}

.years-p {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300;
}

.tasks-ul{
  margin: 10px 0 16px 0;
}



#icon-section-container{
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  height: 75vh;
  width: 100%;
}

#lister{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 12px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  height: 100%;
  width: 80%;
  border-radius: 12px 8px 8px 12px;
  background-color: rgba(255, 255, 255, 0.315);
  backdrop-filter: blur(4px)
}

#skill-card-in-list{
  display: flex;
  width: 95%;
  height: 3rem;
  margin: 0.8rem;
  background-color: rgb(39, 4, 80);
  border-radius: 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

#icon-container{
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 2rem;
  align-items: center;
  justify-content: center;
}

#skill-description{
  font-size: 1rem;
  margin-top: 0.8rem;
}

#progress-bar{
  width: 65vw;
  height: 2rem;
  margin: 0 0 1rem;
}


.card-title{
  margin: 0 auto;
}

.recognitions-section{
  display: flex;
  justify-content: center;
}
/* .recognitions-container{
  display: flex;
  background-image: url('../src/assets/DSC2254.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  width: 90%;
  height: 350px; 
  border-radius: 25px; 
  margin: 70px 0 150px 0px;
 
} */

#recog-hover{
  display: flex;
  background-image: url('../src/assets/DSC2254.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  width: 90%;
  height: 350px; 
  border-radius: 25px; 
  margin: 70px 0 150px 0px;
  transition: .1s transform; 
}

#recog-hover:hover{
  box-shadow: 0px 0px 50px rgba(0,0,0, 1);
}

.title-container{
  font-size: 36px;
  margin: 0 0 0 12px;
}

.recognition-detail{    display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: 22rem;
}

  .recog-year{
    margin-top: 0 ;
    margin-bottom: 0 ;
  }

  .recognition-name{
    margin-top: 0 ;
    margin-bottom: 0 ;
  } 
  
  .institution{
    margin-top: 0 ;
    margin-bottom: 0 ;
  } 
  
  .recog-p{
    margin-top: 0 ;
    margin-bottom: 24px ;
  }

  #pages-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: rgba(240, 248, 255, 0.5);
    border-radius: 3rem;
  }

  .responsive-contact{
    display: none;
  }

  #ws-icon{
    background:
     url('../src/assets/icons8-whatsapp-192.svg')
     no-repeat
     center;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    transition: .1s transform; 
    margin: 1rem;
  }

  #in-icon{
    background:
     url('../src/assets/icons8-linkedin-192.svg')
     no-repeat
     center;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    transition: .1s transform; 
    margin: 1rem;
  }

  #github-icon{
    background:
     url('../src/assets/icons8-github-192.svg')
     no-repeat
     center;
    background-size: cover;
    width: 4rem;
    height: 4rem;
    transition: .1s transform; 
    margin: 1rem;
  }

  .ws-container:hover{
    cursor: pointer;
  }

  .skills-main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }
  .skills-h1{
    text-align: center;
    margin: 3.5rem 0 0 0;
    font-size: 3rem;
  }
  
  #get-main-container{
    width:50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.4);
    border-radius: 1.5rem;
    padding: 2rem;
  }



  #text-areas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
  }

  #name-contact{
    margin: 0.5rem;
    height: 1rem;
    width: 100%;

  }

  #subject{
    margin: 0.5rem;
    height: 1rem;
    width: 100%;
  }

  #contact-body{
    margin: 0.5rem;
    height: 6rem;
    width: 100%;
  }

  #send-button{
    width: 90%;
    margin-top: 1.5rem;
  }

  #send-button:hover{
    cursor:pointer;
    transform: scale(1.1);
    transition: all .3s ease-in-out;
  }
  
  #send-button::before{
    content:"";
    position:absolute;
    top: 0;
    left:0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #3339CF, #fb0909, #8900fa, #3339CF, #3339CF, #fb0909, #8900fa, #3339CF);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite
  }
  
  @keyframes glowing {
    0%{background-position: 0 0;
    }
  
    50%{
      background-position: 400% 0;
    }
  
    100%{
      background-position: 0 0;
    }
  
  }

  @media (max-width:640px) {
    body{
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-image: ('../src/assets/subtle-prism.svg');
    }
    #root{
      flex-direction: column;
      align-items: center;
      width: 100vw;
    }

    #pages-container{
      display: none;
    }

    .navbar{
      width: 100vw;
    }

    .navbar-left{
      display: none;
    }

    .navbar-right ul li{
      font-size: 24px;
    }


    .workProfile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100vw;
    }

    .profile-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    
    .name{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100vw;
      text-align: center;
    }

    .hi-im{
      font-size: 40px;
      margin-top: 2rem;
    }

    .santiago{
      font-size: 70px;
      line-height: 100px;
      width: 100vw;
    }

    .cocca{
      font-size: 70px;
      line-height: 100px;
      width: 100vw;
    }

    .Web-developer{
      font-size: 30px;
    }

    .work-profile-p{
      text-align: center;
      font-size: 20px;
      width: 80vw;
      margin-bottom: 0.5px;
    }

    .personal-profile{
      display: flex;
      flex-direction: column;
    }

    .about-me{
      font-size: 2rem;
    }

    .personal-list{
      font-size: 1.5rem;
    }
    
    .personal{
      font-size: 1rem;
    }

    .photo-librarie{
      width: 90vw;
      height: 16rem;
    }

    section img:hover{
      width:150px
    }
    
    .skills-h1{
      font-size: 1.8rem;
    }

    #skill-card-in-list{
      margin-block: 0.3rem;;
    }

    #icon-container{
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }

    .workContainer{
      display: flex;
      flex-direction: column;
    }
    
    .experience-text{
      font-size: 1.5rem;
    }

    .years-p{
      font-size: 0.8rem;
    }

    .jobs-container{
      flex-direction: column;
    }

    .job-name-h2{
      font-size: 1rem;
    }

    .job-at-p{
      font-size: 0.8rem;
      margin: 0.2rem 0 0.2rem 0;
    }

    .tasks-ul{
      margin: 2.2rem 0 0.5rem 0;
      font-size: 0.8rem;
    }

    .we-bg{
      display: none;
    }

    .recognitions-section{
      width: 80vw;
      height: 600px;
      background-position: initial;
    }

    .recognitions-container{
      display: flex;
      flex-direction: column;
    }

    .Recognitions{
      font-size: 2rem;
    }

    .recognition-detail{
      margin:auto 0.8rem 0.2rem 0.8rem;
    }

    .recog-year{
      font-size: 1rem;
    }

    .recognition-name{
      font-size: 1.2rem;
    }

    .institution{
      font-size: 0.8rem;
    }

    .recog-p{
      font-size: 1rem;
      margin: 1rem auto 0.5rem auto;
    }

    #get-main-container{
      padding: 0.5rem;
      width: 80vw;
      height: 45vh;
    }

    #get-title{
      font-size: 2rem;
    }

    #name-contact{
      width: 70vw;
    }
    #subject{
      width: 70vw;
    }
    #contact-body{
      width: 70vw;
    }

    .responsive-contact{
      display: flex;
      margin-top: 4rem;
      background-color: rgba(240, 248, 255, 0.5);
      border-radius: 3rem;
    }
  }

  @media (max-width:844px)  and (min-width:641px) {
    body{
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-image: ('../src/assets/subtle-prism.svg');
    }
    #root{
      flex-direction: column;
      align-items: center;
      width: 100vw;
    }

    #pages-container{
      height: 45vh;
      width: 10vw;
    }

    .navbar{
      width: 100vw;
    }

    .navbar-left{
      display: none;
    }

    .navbar-right ul li{
      font-size: 24px;
    }


    .workProfile{
      align-items: center;
      justify-content: center;
      width: 100vw;
    }

    .profile-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2.5rem auto auto 0rem;
      width: 35vw;
    }
    
    .name{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50vw;
      margin-right: 0;;
    } 

    .hi-im{
      font-size: 40px;
      margin-top: 2rem;
    }

    .santiago{
      font-size: 70px;
      line-height: 100px;
      width: 35vw;
    }

    .cocca{
      font-size: 70px;
      line-height: 100px;
      width: 35vw;
    }

    .Web-developer{
      font-size: 30px;
      margin-top: 1rem;
    }

    .work-profile-p{
      font-size: 1rem;
      width: 30vw;
      margin-bottom: 0.5px;
      margin-left: 0;
    }



    .personal-profile{
      display: flex;
      width: 100vw;
      margin-top: 2rem;
      align-items: center;

    }

    .about-me{
      font-size: 2rem;
      width: 40vw;
      margin:0;
      /* margin-top: 2rem; */
    }

    .personal-list{
      font-size: 1rem;
      margin: 0;
      width: 100%;
      margin-right: 1rem;
      padding: 0;
      line-height: 1.6rem;
    }
    
    .personal{
      font-size: 1rem;
    }

    .photo-librarie{
      width:40vw;
      height: 16rem;
      margin-top: 1.5rem;
      margin-right: 7rem;
    }

    section img:hover{
      width:150px
    }


    
    .skills-h1{
      font-size: 1.8rem;
    }

    #lister{
      margin-right: 7rem;
    }

    #skill-card-in-list{
      margin-block: 0.3rem;;
    }

    #icon-container{
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }


    .workContainer{
      display: block;
      scroll-behavior: smooth;
      overflow-y:auto;
      height: 60vh;
      width: 70vw;
      position: absolute;
      top: 3rem;
      left: 2rem
      
    }
    
    .experience-text{
      font-size: 1.5rem;
    }

    .we-bg{
      display: none;
    }

    .years-p{
      font-size: 0.8rem;
    }

    .jobs-container{
      flex-direction: column;
    }

    .job-name-h2{
      font-size: 1rem;
    }

    .job-at-p{
      font-size: 0.8rem;
      margin: 0.2rem 0 0.2rem 0;
    }

    .tasks-ul{
      margin: 2.2rem 0 0.5rem 0;
      font-size: 0.8rem;
    }



    .recognitions-section{
      display: block;
      position: absolute;
      top: 0rem;
      left: 3rem;
      width: 80vw;
      height: fit-content;
      background-position: initial;
    }

    .recognitions-container{
      display: flex;
      flex-direction: column;
    }

    #recog-hover{
      height: auto;
    }


    .Recognitions{
      font-size: 2rem;
      line-height: 2rem;
      margin: 0.5rem 0 0 0.8rem;
    }
    .recognition-detail{
      margin-top: 1rem;
    }

    .recog-year{
      font-size: 1rem;
    }

    .recognition-name{
      font-size: 1.2rem;
    }

    .institution{
      font-size: 0.8rem;
    }

    .recog-p{
      font-size: 1rem;
      margin: 1rem auto 0.5rem auto;
    }

    /* Listo */

    #get-main-container{
      padding: 0.5rem;
      width: 70vw;
      height: 75vh;
      margin-top: 2.6rem;
      margin-right: 2rem;
    }

    #get-title{
      font-size: 2rem;
      margin: 0 ;
    }

    #name-contact{
      width: 70vw;
    }
    #subject{
      width: 70vw;
    }
    #contact-body{
      width: 70vw;
    }

  }